version: "3.8"

services:
  demo-api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "4000:8080"
    volumes:
      - ./api:/app
    networks:
      - demo-network

networks:
  demo-network:
    driver: bridge
